In [1]:
import sqlite3

db = sqlite3.connect("sailors.db")
cursor = db.cursor()
cursor.execute("""SELECT * FROM Sailors""")

for row in cursor:
    print row

db.close

OperationalError: no such table: Sailors

In [ ]:
import sqlite3

db = sqlite3.connect("sailors.db")
cursor = db.cursor()

cursor.execute("""SELECT S.sname, B.bname, R.day
                  FROM Sailors S, Boats B, Reserves R
                  WHERE S.sid=R.sid AND R.bid=B.bid
                  AND  B.color='red'
                  ORDER BY S.sname""")

print "       Name       Boat      Date"
for row in cursor:
    print "%12s %12s %10s" % row

db.close

In [3]:
import sqlite3

CREATE_BOATS = """CREATE TABLE IF NOT EXISTS Boats (
    bid INTEGER PRIMARY KEY AUTOINCREMENT,
    bname TEXT NOT NULL,
    color TEXT DEFAULT ''
)"""

boats = [
    (101, 'Interlake', 'blue'),
    (102, 'Interlake', 'red'),
    (103, 'Clipper', 'green'),
    (104, 'Marine', 'red')
]

db = sqlite3.connect("sailors.db")
cursor = db.cursor()
cursor.execute(CREATE_BOATS)
for row in boats:
    cursor.execute("REPLACE INTO Boats VALUES(?,?,?)", row)
db.commit()
db.close()

In [ ]:
import sqlite3

db = sqlite3.connect("sailors.db")
cursor = db.cursor()
print "BEFORE"
cursor.execute("SELECT * FROM Sailors")
for row in cursor:
    print row

cursor.execute("""SELECT s.sid, COUNT(r.bid) AS reservations
                  FROM Sailors s, Reserves r
                  WHERE s.sid=r.sid
                  GROUP BY s.sid
                  HAVING s.rating < 10""")
    
for row in cursor.fetchall():
    if (row[1] > 2):
        cursor.execute("""UPDATE Sailors
                          SET rating = rating + 1
                          WHERE sid=%d""" % row[0])

print "AFTER"
cursor.execute("SELECT * FROM Sailors")
for row in cursor:
    print row
db.close()

In [ ]:
import sqlite3

db = sqlite3.connect("sailors.db")
db.row_factory = sqlite3.Row
cursor = db.cursor()

cursor.execute("""SELECT s.sid, COUNT(r.bid) AS reservations
                  FROM Sailors s, Reserves r
                  WHERE s.sid=r.sid
                  GROUP BY s.sid
                  HAVING s.rating < 10""")
    
for row in cursor.fetchall():
    if (row['reservations'] > 2):
        cursor.execute("""UPDATE Sailors
                          SET rating = rating + 1
                          WHERE sid=%d""" % row['sid'])

print "AFTER"
cursor.execute("SELECT * FROM Sailors")
for row in cursor:
    print tuple(row)

#db.commit()
db.close()

In [ ]:
import sqlite3

db = sqlite3.connect("sailors.db")
db.row_factory = sqlite3.Row
cursor = db.cursor()

cursor.execute("""SELECT s.sid, COUNT(r.bid) AS reservations
                  FROM Sailors s, Reserves r
                  WHERE s.sid=r.sid
                  GROUP BY s.sid
                  HAVING s.rating < 10""")
    
for row in cursor.fetchall():
    if (row['reservations'] > 2):
        cursor.execute("""UPDATE Sailors
                          SET rating = rating + 1
                          WHERE sid=?""", (row['sid'],))

print "AFTER"
cursor.execute("SELECT * FROM Sailors")
for row in cursor:
    print tuple(row)

#db.commit()
db.close()

In [ ]:
import sqlite3
db = sqlite3.connect("sailors.db")
cursor = db.cursor()

cursor.execute("SELECT * FROM sqlite_master WHERE type='table'")
for row in cursor:
    print row