<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Comp 521 Files and Databases - Fall 2016</h1>
<h1 style="font-size: 250%;">Problem Set #3</h1>
<h1 style="font-size: 200%;">Version 1.0</h1>
<h1>Issued Monday 10/03/2016; Due Monday 10/17/2016</h1>
</div>

**Homework Information:** The answer cells in this notebook contain metadata that enable it to be automatically parsed. Thus, you must enter your answers *only* into the cells provided. Do not delete any answer cell and/or add a new one to replace it. If you do so by accident, download a new copy of the problem set's notebook and transfer your answers into it. You can introduce new 'coding' cells in an effort to test your approaches to problems, however, these introduced cells will not be considered when grading.

Finally, some of the problems are probably too long to be done the night before the due date, so plan accordingly. Late problem sets will be penalized by a factor of 70.71% for each class meeting after their due date. Feel free to get help from others, but the work you submit in should be your own.

In [1]:
# Fill in the fields as described
class Student:
    first = "Calvin"
    last = "Barker"
    onyen = "barkerc1"
    pid = "720391993"

In this problem set we will revisit the *Monkepo* data discussed in Lecture 3. You may want to revist that lecture to reaquaint yourself with the data set. Your first task will be to construct and populate a database with the following schema.

 <table style="border:none;"><tbody>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table><tbody>
            <tr><th colspan="6" style="text-align:center;">Monkepo</th></tr>
            <tr><td><u>mid</u></td>
                <td>name</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:20px 20px;border:none;">
            <table><tbody>
            <tr><th colspan="4" style="text-align:center;">Appearance</th></tr>
            <tr><td><u>mid</u></td>
                <td><u>latitude</u></td>
                <td><u>longitude</u></td>
                <td><u>datetime</u></td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:20px 20px;border:none;">
            <table><tbody>
            <tr><th colspan="4" style="text-align:center;">Class</th></tr>
            <tr><td><u>mid</u></td>
                <td><u>major (1/0)</u></td>
                <td>type</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        </tbody></table>

The *Monkepo* relation should hold just the *unique* name of a *monkepo* species and an autoincremented primary key, *mid*. When a *Monkepo* appears its location and appearance time are stored as a tuple in the *Appearance* relation. Finally, the *Class* relation is used to hold information about the major and minor class of the monkepo species. The major class is indicated by a value of *1* in the major field, and the minor class by a *0*. There should be no class entry for a *None* minor type.  

Use this verison of the <a href="http://csbio.unc.edu/mcmillan/Media/monkepo.csv" download>data file</a> to fill your database (it is different than the one used in lecture 3).

---
**Part 1:** In the cell provided below write a Python fragment to create the specified database, and name it *"monkepo.db"* (Hint: you should investigate Python's *DateTime* module to find methods for combining the date and time values from the data file into a single attribute). You code should commit and close your database.

In [1]:
import sqlite3, datetime
import pandas as pd

monkepo = sqlite3.connect("monkepo.db")
cur = monkepo.cursor()
cur.execute("""DROP TABLE IF EXISTS Monkepo""")
cur.execute("""DROP TABLE IF EXISTS Appearance""")
cur.execute("""DROP TABLE IF EXISTS Class""")
cur.execute("""CREATE TABLE Monkepo (
                mid INTEGER PRIMARY KEY, 
                name TEXT);""")
cur.execute("""CREATE TABLE Appearance (
                mid INTEGER,
                latitude REAL,
                longitude REAL,
                datetime DATETIME,
                PRIMARY KEY(mid, latitude, longitude, datetime),
                FOREIGN KEY(mid) REFERENCES Monkepo(mid));""")
cur.execute("""CREATE TABLE Class (
                mid INTEGER,
                major INTEGER,
                type TEXT,
                PRIMARY KEY(mid, major),
                FOREIGN KEY(mid) REFERENCES Monkepo(mid));""")

dataframe = pd.read_csv("monkepo.csv")

count = 0
monkeType = {}
for row in dataframe.itertuples():
    if (row.name in monkeType):
        continue
    else:
        monkeType[row.name] = count
        cur.execute("INSERT INTO Monkepo (mid, name) VALUES (?, ?);", (count, row.name))
        cur.execute("INSERT INTO Class (mid, major, type) VALUES (?, 1, ?);", (count, row.majorclass))
        if row.minorclass != "None":
            cur.execute("INSERT INTO Class (mid, major, type) VALUES (?, 0, ?);", (count, row.minorclass))
        count+=1
        
for row in dataframe.itertuples():
        tempcount = monkeType[row.name]
        dt = datetime.datetime.strptime(row.date, "%Y-%m-%d").date()
        try:
            tm = datetime.datetime.strptime(row.time, "%H:%M:%S.%f").time()
        except ValueError as e:
            tm = datetime.datetime.strptime(row.time, "%H:%M:%S").time()
            continue
        comb = datetime.datetime.combine(dt, tm)
        
        try:
            cur.execute("INSERT INTO Appearance (mid, latitude, longitude, datetime) VALUES (?, ?, ?, ?);", (tempcount, row.latitude, row.longitude, comb))
        except sqlite3.IntegrityError as e:
            continue

#brief testing
#print "hello"
#print "good bye"


monkepo.commit()
monkepo.close()

hello
good bye

---
**Part 2:** Using the database that you created in part 1, write Python function to count the frequency of appearances of each Monkepo species. Your function should take the name of your database as an argument and return a sorted list of tuples (Monkepo.name, #appearances) with the most frequent first. Implement this function in using a dictionary like we did in Lecture 3.

In the cell below, enter the definition of your function, followed by a call to it, where the result is displayed via a Pandas data frame as shown in the code fragment supplied.

In [35]:
import pandas
import sqlite3
#Enter your Python 2 code here

def monkepoCount(str):
    monkepo = sqlite3.connect(str)
    cur = monkepo.cursor()

    listOfTuples={}
    cur.execute("""SELECT name FROM Appearance JOIN Monkepo on Appearance.mid = Monkepo.mid""")

    for row in cur:
        if (row[0] in listOfTuples):
            listOfTuples[row[0]] += 1;
        else:
            listOfTuples[row[0]] = 1;
    df = pandas.DataFrame(listOfTuples.items(), columns=['Name', 'Count']).sort_values('Count', axis=0, ascending=False, inplace=False, kind='quicksort')
    print(df)

    
monkepoCount("monkepo.db")

           Name  Count
111      PigDye  24296
99      AttaRat  18557
120     RopeSaw  10320
10       DewEel   8651
84        Veeee   7279
31      NovaNet   4731
3      TarPiece   3995
43        TubaZ   3606
106       ARasp   2573
16    AnIronAd-   2460
18    AnIronAd+   2444
37       HiOdds   1829
13     ClayFire   1623
57    PigTooted   1559
1    TurboSpell   1521
24       Rustay   1220
65      NoLedge   1196
34       ByBark   1174
82      APigOwl   1116
20     PigKarma   1110
8         Snake   1089
93    GGExecute   1024
5     UsualBarb    910
41       YankMe    608
88   JiffyPlugG    588
11       HasRoe    579
9        Ripsin    572
68       Nakkau    566
60     IrateCat    561
25      DuckSpy    538
..          ...    ...
73     RevelGar      7
38   VerbIElect      7
35      WingZee      6
67    IronGated      6
112       RigMe      5
107   HipOrWalt      5
90      WarmOak      5
61       Didroo      4
70       Nagger      4
62     DoingInk      4
55      HamCoke      4
122    HairPads      3
83     InaneCar      3
104   RaidOrgan      3
2      RunSuave      3
7       Brovolt      3
92    LassHands      3
19    GimmeATen      3
78   IonHelment      2
50    HardICzar      2
46        Pyhon      2
39     ALazaKam      2
32      Asniper      1
12      NoElFar      1
100    RaveNoOp      1
48      NoLoJet      1
76    AlienSent      1
77    BasilToes      1
105        XiNo      1
54       ARichU      1

[123 rows x 2 columns]

---
**Part 3:** Implement a second version of your function to count the frequency of appearances of each Monkepo species, but this time use SQL's "GROUP BY" directive. The input and output of this version should be the same as the one you implemented in Part 2. Display your answer using a Pandas data frame as well.

In [36]:
import pandas
import sqlite3

def monkepoCountGrp(str):
    monkepo = sqlite3.connect(str)
    cur = monkepo.cursor()

    listOfTuples={}
    cur.execute("""SELECT name, COUNT(name) 
                   FROM Appearance 
                   JOIN Monkepo on Appearance.mid = Monkepo.mid
                   GROUP BY name
                   ORDER BY COUNT(name)""")

    for row in cur:
        listOfTuples[row[0]] = row[1]

    df = pandas.DataFrame(listOfTuples.items(), columns=['Name', 'Count']).sort_values('Count', axis=0, ascending=False, inplace=False, kind='quicksort')
    print(df)

    
monkepoCountGrp("monkepo.db")

           Name  Count
40       PigDye  24296
99      AttaRat  18557
120     RopeSaw  10320
10       DewEel   8651
84        Veeee   7279
31      NovaNet   4731
3      TarPiece   3995
44        TubaZ   3606
106       ARasp   2573
1     AnIronAd-   2460
18    AnIronAd+   2444
38       HiOdds   1829
13     ClayFire   1623
58    PigTooted   1559
16   TurboSpell   1521
24       Rustay   1220
66      NoLedge   1196
34       ByBark   1174
82      APigOwl   1116
36     PigKarma   1110
8         Snake   1089
65    GGExecute   1024
5     UsualBarb    910
42       YankMe    608
88   JiffyPlugG    588
11       HasRoe    579
80       Ripsin    572
68       Nakkau    566
61     IrateCat    561
25      DuckSpy    538
..          ...    ...
39   VerbIElect      7
73     RevelGar      7
35      WingZee      6
20    IronGated      6
107   HipOrWalt      5
112       RigMe      5
90      WarmOak      5
56      HamCoke      4
62       Didroo      4
63     DoingInk      4
70       Nagger      4
2      RunSuave      3
92    LassHands      3
122    HairPads      3
104   RaidOrgan      3
7       Brovolt      3
83     InaneCar      3
19    GimmeATen      3
111    ALazaKam      2
78   IonHelment      2
47        Pyhon      2
51    HardICzar      2
49      NoLoJet      1
32      Asniper      1
76    AlienSent      1
55       ARichU      1
105        XiNo      1
100    RaveNoOp      1
77    BasilToes      1
12      NoElFar      1

[123 rows x 2 columns]

---
**Part 4:** Use Jupyter's [*%timeit*](http://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-timeit) function to compare the performance of the two functions that you wrote in parts 2 and 3.

In [36]:
import pandas
import sqlite3
from timeit import default_timer as timer
#Enter your Python 2 code here

def monkepoCount(str):
    monkepo = sqlite3.connect(str)
    cur = monkepo.cursor()

    listOfTuples={}
    cur.execute("""SELECT name FROM Appearance JOIN Monkepo on Appearance.mid = Monkepo.mid""")

    for row in cur:
        if (row[0] in listOfTuples):
            listOfTuples[row[0]] += 1;
        else:
            listOfTuples[row[0]] = 1;
    df = pandas.DataFrame(listOfTuples.items(), columns=['Name', 'Count']).sort_values('Count', axis=0, ascending=False, inplace=False, kind='quicksort')
    print(df)
    
def monkepoCountGrp(str):
    monkepo = sqlite3.connect(str)
    cur = monkepo.cursor()

    listOfTuples={}
    cur.execute("""SELECT name, COUNT(name) 
                   FROM Appearance 
                   JOIN Monkepo on Appearance.mid = Monkepo.mid
                   GROUP BY name
                   ORDER BY COUNT(name)""")

    for row in cur:
        listOfTuples[row[0]] = row[1]

    df = pandas.DataFrame(listOfTuples.items(), columns=['Name', 'Count']).sort_values('Count', axis=0, ascending=False, inplace=False, kind='quicksort')
    print(df)

def test1():
    monkepoCount('monkepo.db')
def test2():
    monkepoCountGrp('monkepo.db')

The slowest run took 29.85 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 3: 63.9 ns per loop
10000000 loops, best of 3: 64.6 ns per loop
10000000 loops, best of 3: 63.4 ns per loop

---
**Part 5:** In the following cell write a Python function that finds both the rarest and most  common monkepo species for each class. Your function should take your database name as an input and it it should return a list with with a tuple for each distinct class type and columns with the most and least common Monkepo species names.

In [134]:
import pandas
import sqlite3

def monkepoCountGrp(str):
    monkepo = sqlite3.connect(str)
    cur = monkepo.cursor()

    common={}
    rare={}
    end={}
    count={}
    cur.execute("""SELECT name, COUNT(name), type
                   FROM Appearance 
                   JOIN Monkepo on Appearance.mid = Monkepo.mid
                   JOIN Class on Class.mid = Monkepo.mid
                   GROUP BY name
                   ORDER BY COUNT(name) DESC""")

    for row in cur:
        
        name = row[0]
        cnt = row[1]
        mpType = row[2]
        
        count[name] = cnt
        
        if mpType in common:
            
            if cnt > count[common[mpType]]:
                common[mpType] = name
                
        elif mpType not in common:
            common[mpType] = name
            
        if mpType in rare:            
            if cnt < count[rare[mpType]]:
                rare[mpType] = name
                
        elif mpType not in rare:
            rare[mpType] = name
    
    #for key in common.keys():
        #end[key] = [common[key], rare[key]]
        
    end['Most Common'] = common
    end['Most Rare'] = rare
            
    #this kind of works
    #df = pandas.DataFrame([common, rare])
    
    #df1 = pandas.DataFrame(common.items())
    #df2 = pandas.DataFrame(rare.items())
    #df3 = pandas.DataFrame([common.items(), rare.items()])
    #df4 = pandas.DataFrame.from_dict(end)
    df5 = pandas.DataFrame(end)
    #.T.rename([0,1], ['Common', 'Rare'])
    
    
    #print(pandas.DataFrame(pandas.DataFrame.transpose(df), columns=['Most Common', 'Most Rare']))
    #print df1
    #print df2
    #print(df1.combine_first(df2))
    #print(df4)
    print(df5)
    
monkepoCountGrp("monkepo.db")

           Most Common   Most Rare
Aggressive      YankMe  IonHelment
Beastly        TrainId   RaidOrgan
Boring         AttaRat     Asniper
Dirty          EdgeDuo        XiNo
Elfish        ClayFire  WiffyGlutG
Hot          TigerHowl   AlienSent
Insect        TarPiece     MadPoet
Metallic     GimmeATen   GimmeATen
Mineral        RhoRhyn      RhoDyn
Mystic       GGExecute    ALazaKam
Shocking       AHickUp      ARichU
Toxic           DewEel       RigMe
Turf             ARasp    EastCarp
Wet             Rustay   BasilToes
Winged          PigDye   HardICzar

---
**Part 6:** One of the reasons that Monkepo appear is that they depend on supply stations in order to survive in Earth's harsh environment. The same smartphone app that Millennials use for detecting Mokepos also detects the locations of these supply stations. A list of detected stations is available for <a href="http://csbio.unc.edu/mcmillan/Media/stations.csv" download>download</a> here.

In the next cell you should add a new table to your database called *SupplyStations*. Make sure that you commit and close the modified database.

Then write a code fragment that finds, for each supply station how many Monkepo appearances were closer to it than to any other station. Your code should produce a list of tuples (stationID, latitude, longitude, #ofNearbyMonkepo) sorted from most popular to least popular.

***This problem is challenging, allow for enough time to do it!*** You can approximate the distance between a Monkepo appearance and a supply station by $\sqrt{(latitude_{Monkepo} - latitude_{Station})^2 + (longitude_{Monkepo} - longitude_{Station})^2}$. This is not techically correct, but it is close at the scales and latitudes we are considering.

In [7]:
#Enter your Python 2 code

Click [here to submit](http://csbio.unc.edu/mcmillan/index.py?run=PS.upload) your completed problem set.

You can submit it as many times as you would like, but only the last submitted version will be graded. If the last submission was after the due date the final score will be reduced accordingly. We do not need your database, since your Notebook should produce it.